<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Solicitação de Guia</title>
  <link rel="stylesheet" href="static/style_form.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Agendamento de Guias FuSEx</h1>
    <form>
      <fieldset>
        <legend>Dados do Paciente</legend>
        <div class="flex-row">
          <div>
            <label for="nome">Nome Completo</label>
            <input type="text" id="nome" name="nome" placeholder="João da Silva" required>
          </div>
          <div>
            <label for="idade">Idade</label>
            <input type="number" id="idade" name="idade" placeholder="Informe sua idade" required>
          </div>
        </div>
        <label for="prec-cp">Cartão FuSEx ou Prec-CP</label>
        <input type="text" id="prec-cp" name="prec-cp" placeholder="12345678900" required>
      </fieldset>

      <fieldset>
        <legend>Contato</legend>
        <label for="email">E-mail para envio da guia</label>
        <input type="email" id="email" name="email" placeholder="exemplo@email.com" required>

        <label for="telefone">Telefone com DDD</label>
        <input type="tel" id="telefone" name="telefone" placeholder="(62) 91234-5678" required>
      </fieldset>

      <fieldset>
        <legend>Informações do Atendimento</legend>
        <label for="local">Local desejado para atendimento</label>
        <input type="text" id="local" name="local" placeholder="Hospital X, Clínica Y" required>

        <label for="especialidade">Especialidade ou área solicitada</label>
        <input type="text" id="especialidade" name="especialidade" placeholder="Ortopedia, Cardiologia..." required>
        
        <label for="foto">Upload do Encaminhamento Médico</label>
        <input type="file" id="foto" name="foto" accept="image/*">
        
        </fieldset>

      <div class="lgpd">
        <label>
          <input type="checkbox" name="lgpd" required>
          🔒Declaro que li e estou de acordo com o uso dos meus dados pessoais e sensíveis para os fins mencionados, conforme a Política de Privacidade e a LGPD.
        </label>
      </div>

      <button type="submit">Enviar Solicitação <i class="bi bi-send"></i>
      </button>
    </form>
  </div>
<footer>
    <div id="sobre">
        <a href="https://whatsapp.com/channel/0029Vb5wHD17YSd1pPUutT2C" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="mailto:guiasporemail.fusex@gmail.com"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://www.instagram.com/copesp_exercito/" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/@exercitooficial" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
    <p class="mt-2 mb-0">© Copyright 2025. All Rights Reserved</p>
</footer>
</body>
</html>
